.my-class {
  color: green;
}

fieldset[disabled] .my-class {
  color: tomato;
}

.my-class .with-another-class {
  box-sizing: border-box;
}

@media screen and (min-width: 48rem) {
  .my-class {
    color: pink;
  }
}
